.navbar navbar-expand-lg navbar-dark fixed-top {
  background:rgba(255, 255, 255, 0);   /* for latest browsers */

}

.intro {
  width: 100%;
  height: auto;
  background:
  url("../image/background.jpg") center no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.intro_text{
  color: #fff;
  font-size: 100px;
  font-weight: 500;
  text-align: center;
  font-family: 'Caveat', cursive;
}

.about {
  width: 100%;
  height: auto;
  background:
  url("../image/pencil.jpg") center no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.about_background{
  background:rgba(255, 255, 255, 0.5);
  text-shadow: #000000 0 0 4px;
  margin: 3px;
}

.about_text{
  color: #fff;
  font-weight: 200;
  text-align: center;
  font-size: 30px;
  font-family: 'Caveat', cursive;
  text-align: justify;
  margin:2px;
}
